html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    186deg,
    rgba(97, 93, 173, 1) 0%,
    rgba(255, 200, 218, 1) 100%
  );
  background-repeat: no-repeat;
}

.content,
.obsah {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 400px;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  text-align: center;
  margin: 40px auto 250px auto;
}

.obsah {
  width: 800px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: unset;
}

img {
  width: inherit;
  border-radius: inherit;
}

.text {
  padding: 0 15px 20px 15px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
}

a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 40px 20px 40px;
}

.button1 {
  background-color: #1fcca4;
}

.button1:hover {
  background-color: #1cbb96;
}

.button2 {
  background-color: #0197f6;
  border-top: 2px solid #283e50;
}

.button2:hover {
  background-color: #0090e9;
}

.description {
  padding: 20px;
}

.description li {
  margin-top: 15px;
}

.circle,
.cross {
  filter: invert(100%);
  margin-bottom: -4px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

.pictures img {
  max-width: 100%;
}

.pictures__item {
  max-width: 40%;
}

.play {
  max-width: 80vmin;
  margin: 2rem auto 0rem auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu__buttons {
  display: flex;
}

.menu__buttons a {
  padding: 5px 10px 5px 10px;
  display: flex;
  border-radius: 10px;
  margin: 10px 5px 10px 0px;
}

.menu__buttons > .button2 {
  border-top: none;
}

.menu__item {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.game {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  background: rgb(229, 182, 210);
  background: linear-gradient(
    10deg,
    rgb(235, 190, 217) 0%,
    rgb(209, 182, 224) 100%
  );
  border: black solid 1px;
}

.game button {
  border: black solid 1px;
  background: none;
  width: 10%;
}

.game button:hover,
.game button:focus {
  background-color: rgb(236, 209, 236);
  outline: none;
}

/* styly pro javascript */
.circle_plays {
  filter: invert(100%);
  margin-bottom: -4px;
}

.cross_not_plays {
  visibility: hidden;
}

.circle_not_plays {
  visibility: hidden;
}

.cross_plays {
  visibility: visible;
  filter: invert(100%);
  margin-bottom: -4px;
  margin-left: -1.5rem;
}

.fill_circle {
  background-image: url('circle.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 2vmin;
  background-size: 60%;
}

.fill_cross {
  background-image: url('cross.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 2vmin;
  background-size: 60%;
}

@media (max-width: 540px) {
  .obsah {
    width: 90%;
  }
  .pictures__item {
    max-width: 100%;
  }
}

@media (min-width: 541px) and (max-width: 850px) {
  .obsah {
    width: 90%;
  }

  .pictures__item {
    max-width: 38%;
  }

  .pictures {
    justify-content: center;
  }
}
